html{
  background: url('./background.jpg') bottom center;
  background-size: cover;
}

*{
  font-family: sans-serif;
  margin: 0;
}

.howTo {
  text-align: center;
  border: .4rem solid black;
  border-radius: .5rem;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem #ffc600;
  padding: 50px 0px 50px 0px;
  font-size: 2rem;
}

.keys {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .01s linear;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
  /*touch-action: manipulation;*/
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

@media screen and (max-width: 400px) {
  kbd {
    font-size: 1.2rem;
  }
  .sound {
    font-size: 1rem;
  }
  .key {
    margin: .5rem;
    width: 5rem;
  }
  .howTo {
    font-size: 1.5rem;
  }
}